.detail {
    width: 100%;
    height: 100%;
}

.detail__data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
}

.detail .detail__genres {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0px;
}

.movie__genres {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0px;
}

.detail__genres li,
.detail .detail__year {
    margin-right: 10px;
    font-size: 14px;
}

.detail__genres li {
    background-color: #adaeb94d;
    padding: 4px;
    border-radius: 3px;
}

.detail__genres li:hover {
    background-color: #adaeb9ab ;
    color : #eff3f7;
}


.detail_summary {
    width: 50%;
}

h3 {
    font-size: 30px;
}